{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-2 main-content">
        <h3>Medewerker functie toevoegen</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}

        <div class="form-group">
            <div class="cols-sm-6">
                <div class="input-group">
                    {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier een functie naam in.'}}) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="cols-sm-6">
                <div class="input-group">
                    {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Omschrijving van de functie.'}}) }}
                </div>
            </div>
        </div>
        <a href="{{ path('task_index') }}" class="btn btn-default">Annuleer</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}