<!DOCTYPE html>
<html>
<head>
    {# Als je javascript or css specifieke files wilt includen op een pagina, moet je de het block extenden met {{ parent() }} omdat je anders het hele blok overschrijft.
    {# Anders hoef je dit blok niet aan te spreken in andere templates.#}
    {# Voorbeeld:  <script src="{{ asset('bundles/js/main.js') }}"></script> voor JS of  <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet" />#}
    {# Dit path verwijst naar de /web folder. (/web/bundles/js of css )#}
    {% block styles %}
        {# include css files. #}
        {% include 'includes/header.html.twig' %}
    {% endblock %}
</head>
<body>
<div class="wrap">
    <div class="top-bar">
        <div class="search-bar">
            {% block topbar %}
                <nav class="navbar navbar-fixed-top">
                    <div class="container-fluid noPadding">
                        <div class="navbar-header col-md-2 col-sm-2 logo noPadding">
                            <a class="navbar-brand" href="{{ path('dashboard_index') }}">Alcazar Rooster Systeem</a>
                        </div>
                        <div id="navbar" class="col-md-10">
                            <ul class="nav navbar-nav navbar-right col-md-offset-2 iconBar">
                                <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw evenement</a></li>
                                <li><a href="#"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Medewerker vrij</a></li>
                                <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i> Logboek</a></li>
                            </ul>
                            <form class="navbar-form navbar-left searchBar">
                                <i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="Zoekopdracht">
                            </form>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </div>
            {% block variablebuttons %}

            {% endblock %}
    </div>

    {%  block mainMenu %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 sidebar sideMenu">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="{{ path('dashboard_index') }}"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a></li>
                        <li><a href="{{ path('event_index') }}"><i class="fa fa-calendar" aria-hidden="true"></i>Evenementen</a></li>
                        <li><a href="{{ path('coworker_index') }}"><i class="fa fa-users" aria-hidden="true"></i>Medewerkers</a></li>
                        <li><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>Administratie</a></li>
                        <li><a href="{{ path('settings_index') }}"><i class="fa fa-cogs" aria-hidden="true"></i>Beheer</a></li>
                    </ul>
                    <div class="logoutTab">
                        <p>Gebruikersnaam</p>
                        <ul class="nav nav-sidebar">
                            <li><a href="#">Uitloggen <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                {% endblock %}

                {% block body %}
                {% endblock %}
            </div>
        </div>
</div>


    {# include general Js files. #}
    {% include 'includes/js.html.twig' %}

    {% block javascripts %}
    {% endblock %}
</body>

