<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="ICT-DEAL">
    <title>Alcazar Roostersysteem</title>
    {# Als je javascript or css specifieke files wilt includen op een pagina, moet je de het block extenden met {{ parent() }} omdat je anders het hele blok overschrijft.
    {# Anders hoef je dit blok niet aan te spreken in andere templates.#}
    {# Voorbeeld:  <script src="{{ asset('bundles/js/main.js') }}"></script> voor JS of  <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet" />#}
    {# Dit path verwijst naar de /web folder. (/web/bundles/js of css )#}
    {% block styles %}
        {# include css files. #}
        {% include 'includes/header.html.twig' %}
        <link href="{{ asset('bundles/css/register.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>


<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Alcazar Roostersysteem</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}} ) }}
                <div class="form-group">
                    {{ form_label(form.firstName, null, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier uw voornaam in'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.lastName, null, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier uw achternaam in'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier uw emailadres in'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.password.first, null, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier uw emailadres in'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.password.second, null, {'label_attr': {'class': 'cols-sm-2 control-label'}}) }}
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Vul hier uw emailadres in'}}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-lg btn-block'}}) }}
                </div>
                <div class="login-register">
                    <a href="{{ path('login') }}">Inloggen</a>
                </div>
                <div class="login-register">
                    {% if error|default %}
                        <div class="alert alert-danger">
                            {{ error.message|trans([], 'security') }}
                        </div>
                    {% endif %}
                </div>
                {% if error|default %}<p>{{ error }}</p> {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% include 'includes/js.html.twig' %}
</body>
</html>
